# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [1]:
import pandas as pd

# 1. Series
1차원 데이터(정수, 실수, 문자열 등)

## Series 객체 생성
예) 1월부터 4월까지 평균 온도 데이터 (-20, -10, 10, 20)

In [4]:
temp = pd.Series([-20, -10, 10, 20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
temp[0]

-20

In [5]:
temp[2]

10

# Series 객체 생성 (Index 지정)

In [25]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [26]:
temp['Jan'] # Index Jan 에 해당하는 데이터 출력

-20

In [27]:
temp['Apr'] # Index Apr 에 해당하는 데이터 출력

20

In [43]:
# temp['Jun'] # 존재하지 않는 index 접근 시도 시 에러

In [77]:
dic = {
    'Jun' : -30,
    'Feb' : -20,
    'Mar' : 20,
    'Otb' : 30
}
dic

{'Jun': -30, 'Feb': -20, 'Mar': 20, 'Otb': 30}

In [79]:
x = pd.Series(dic, index=['Jun', 'Feb', 'Mar', 'Otb'])
x

Jun   -30
Feb   -20
Mar    20
Otb    30
dtype: int64

In [75]:
x.isnull()

Jan    False
Feb    False
Mar    False
Apr    False
Jun     True
dtype: bool

In [76]:
x.notnull()

Jan     True
Feb     True
Mar     True
Apr     True
Jun    False
dtype: bool

In [80]:
temp

Jan   -30
Feb   -10
Mar    10
Apr    20
dtype: int64

In [81]:
x

Jun   -30
Feb   -20
Mar    20
Otb    30
dtype: int64

In [96]:
temp  x

Apr     NaN
Feb   -10.0
Jan     NaN
Jun     NaN
Mar    10.0
Otb     NaN
dtype: float64

In [83]:
x

Jun   -30
Feb   -20
Mar    20
Otb    30
dtype: int64

In [84]:
x.name = '온도'

In [85]:
x

Jun   -30
Feb   -20
Mar    20
Otb    30
Name: 온도, dtype: int64

In [88]:
x.index.name = 'month'

In [89]:
x

month
Jun   -30
Feb   -20
Mar    20
Otb    30
Name: 온도, dtype: int64

AttributeError: 'numpy.ndarray' object has no attribute 'name'